.sign-in{
  width: 380px;
  display: flex;
  flex-direction: column;
  align-content: center;

  .title{
    margin: 10px 0px;
  }
  
  .radio-buttons-container{
    display: flex;
    flex-direction: column;
  }
  
  .buttons{
    display: flex;
    justify-content: space-between;
  }
}