.product-page-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 37%;
  margin-top: 5%;

  .title-container{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container{
    width: 500px;
    .dropdown-container{
      background:white;
      width: 500px;
      color: black;
    }

  }
  .buttons{
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }
  
}