.item-container{
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  .item-image-container{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: 350px;
      height: 350px;
      background-size: cover;
      background-position: left;
    }
    
    .buy-button{
      cursor: pointer;
    }
  }
  
  .item-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    
    .button{
      margin-left:25%;
      margin-top: 2%;
      color:white;
      background: #37a745;
    }
  }
  
  .rating-dropdown-container{
    width: 100%;
  }
  
}